@import "../../../styles/colors";

.country-item {
    background-color: var(--base-color-background);
    border: 1px solid var(--base-color-background);
    margin: 4px 0px 4px 0px;
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 7px 14px 3px rgba(153,153,153,0.4);
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: var(--base-color-background);
        opacity: 0.9;
        box-shadow: 0px 3px 10px 3px rgba(102,102,102,0.4);
        transform: translateY(2px);
    }
    .country--name {
        padding: 10px;
        font-size: 20px;
        color: var(--base-color);
    }
    .country--flag {
        margin: 0 10px 0 10px;
        width: 50px;
        height: 50px;
    }
}