:root {
	--blue: #0096ca;
	--green: #28d7a6;
	--orange: #cf5300;
	--purple: #554b86;
	--red: #df0656;

	--black: #222;
	--darkGrey: #929292;
	--lightGrey: #cbcbcb;
	--lightBackground: #f9f9f9;
	--darkCardsBackground: #273239;
}

html {
	--base-color-background: white;
	--base-color-link: #61dafb;
	--base-color: white;
	--base-color-button: var(--darkGrey);
}

html[data-theme="dark"] {
	--base-color-background: #282c34;
	--base-color-link: #fe016c;
	--base-color: #232323;
	--base-color-button: var(--darkCardsBackground);
}
