:root {
  --blue: #0096ca;
  --lightBlue: #61dafb;
  --green: #28d7a6;
  --lightGreen: #e6fff8;
  --orange: #cf5300;
  --lightOrange: #fff7f2;
  --purple: #554b86;
  --lightPurple: #eeecf9;
  --red: #df0656;
  --lightRed: #fff8fa;

  --black: #222;
  --darkGrey: #929292;
  --lightGrey: #cbcbcb;
  --lightBackground: #f9f9f9;
  --darkCardsBackground: #273239;
}

html {
  --main-color-background: var(--lightBackground);
  --base-color-background: white;
  --base-color-link: var(--lightBlue);
  --base-color: var(--black);
  --base-color-button: var(--darkGrey);
  --base-color-grey: var(--lightGrey);
}

html[data-theme='dark'] {
  --main-color-background: var(--black);
  --base-color-background: var(--darkCardsBackground);
  --base-color-link: var(--red);
  --base-color: var(--lightBackground);
  --base-color-button: var(--darkCardsBackground);
  --base-color-grey: var(--darkGrey);
}
