:root {
	--base-color-background: white;
	--base-color-link: #61dafb;
	--base-color: white;
	--base-color-button: #929292;
}

:root[data-theme="dark"] {
	--base-color-background: #282c34;
	--base-color-link: #fe016c;
	--base-color: #232323;
	--base-color-button: #273239;
}
