// Shadows
%shadow-banners {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

%shadow-cards {
	box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
}

// Banners container
%banners {
	overflow: hidden;
	background-color: var(--base-color-background);
	border-radius: 15px;
	@extend %shadow-banners;
}

// Titles with info icon
%title {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

// Round buttons layout
%button {
	width: 32px;
	height: 32px;
	border-radius: 31px;
	background-color: var(--base-color-button);
	@extend %shadow-banners;
}

// Symptoms card
%symptomsCard {
	width: 202px;
	height: 291px;
	@extend %banners;
}
