.TakeCare {
  &__main {
    // border: solid 1px yellowgreen;
    display: inline-block;
    width: 94vw;
    justify-content: center;
  }
  &__main h2 {
    color: #929292;
  }
  &__container {
    // border: solid 1px red;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 70vw;
    border-radius: 10px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 620px) {
  .TakeCare__container,
  .TakeCare__title {
    margin-left: 0;
    padding-left: 0;
  }
}
