.TakeCare {
  &__main {
    display: inline-block;
    width: 95vw;
    // border: solid 1px yellowgreen;
    justify-content: center;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    color: #929292;
    padding-left: 60px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 75vw;
    border-radius: 10px;
    // border: solid 1px red;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .TakeCare__container,
  .TakeCare__title {
    margin-left: 0;
    padding-left: 0;
  }
}
