.TopBar {
  grid-area: search;
}

.overview {
  grid-area: banner;
}
.progressChart {
  grid-area: chart;
}

.map {
  grid-area: map;
  width: 100%;
}

.rates {
  grid-area: rates;
  align-self: start;
}
