.Carousel__item {
    width: 200px;
    height: 300px;
    border-radius: 5.45625px;
    overflow: hidden;
    margin: 0px 10px;
    display: inline-block;
    &--image {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      background-color: #61dafb;
    }
    &--image img {
      width: 200px;
    }
  }
  .Carousel__image-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .Carousel__information {
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid lightgrey;
    border-radius: 5.45625px;
  }

