.NavBar {
  --blue: #0096ca;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 235px;
  padding: 16px 16px 16px 32px;
  background-color: var(--blue);
  color: white;
  box-sizing: border-box;
  transition: 1s ease-in-out;
  border-radius: 0 15px 15px 0;

  &.isContracted {
    width: 42px;
    padding: 8px;

    & .NavBar__logo i {
      font-size: 32px;
    }

    & .NavBar__link {
      justify-content: center;
      i {
        margin: 0;
      }
    }
  }

  i {
    font-size: 20px;
  }

  &__trigger {
    text-align: right;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    img {
      width: 100%;
    }
  }

  &__list {
    margin: 48px 0 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 8px 0;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    color: white;
    text-decoration: none;

    i {
      margin-right: 0.5rem;
    }

    span {
      overflow: hidden;
      animation: fadein 1s ease-in-out forwards;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
