.CareCardPrevention {
  &__container {
    // border: solid 1px blue;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    object-fit: cover;
    & img {
      min-width: 430px;
    }
  }

  &__title {
    font-size: 65px;
    background-color: #db5461;
    color: white;
    height: 70px;
    font-weight: 700;
    line-height: 70px;
    min-width: 430px;
    border-radius: 5.45625px;
    margin: -1px 0 0 0;
  }
}

@media only screen and (max-width: 620px) {
  .CareCardPrevention__container img,
  .CareCardPrevention__title {
    min-width: 30vw;
  }
  // .CareCardPrevention__title{
  //   min-width: 30vw;
  //   font-size: 45px;
  // }
}
