.CareCard__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 5.45625px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  background-color: white;
  &--title {
    margin: 0;
    font-weight: 700;
  }
}
