.CareCards__container {
  // border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
  // min-width: 705px;
  padding: 15px;
}

@media only screen and (max-width: 1440px) {
  .CareCards__container {
    width: 80%;
    // background-color: red;
  }
}

@media only screen and (max-width: 1060px) {
  .CareCards__container {
    min-width: 30%;
    // background-color: red;
  }
}
