.SymptomsCarousel {
  display: flex;
  justify-content: center;
  max-width: 1325px;
  text-align: center;
  &__container {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
